{% extends "base.html" %}
{% block content %}




<!-- our home page -->
<br><br><br><br><br>

<h1>Imagirator</h1>


<h2>Minimalistic web app powered by DALL-E, designed to generate images based on the user input.</h2>

<!-- asks the user for the image that they want to see and brings it as a form.request to back-end-->
<center>
<form action="/generateImage" method="post" style="max-width: 500px; padding: 20px; border-radius: 500px;">
  <h4>Your Prompt For Image</h4>

  <input type="text" name="imagePrompt" placeholder="Enter Prompt Here" style="width: 100%; padding: 10px; text-align: center; border: 1px solid #1c1c1c; border-radius: 10px;">

  <br><br>

<!-- button to generate image -->
  <form action="/generateImage", method="POST">
    <div class="button-container">
    <button class="button" type="submit" value="generateImage" name="generateImage">
      <span style="color: #FFFFFF;">Generate</span>
    </button>
  </div>
</form>
</center>

{% endblock %}