{% extends "base.html" %}
{% block content %}
<br><br><br><br><br>
<h1>Login</h1>
<center>
<form action="/loggingin" method="post" style="max-width: 500px; padding: 20px; border-radius: 500px;">
  <h5>Username</h5>
  <input type="text" name="Username" placeholder="Enter Username Here" style="width: 100%; padding: 10px; text-align: center; border: 1px solid #1c1c1c; border-radius: 10px;">
  <br><br>
  <h5>Password</h5>
  <input type="password" name="Password" placeholder="Enter Password Here" style="width: 100%; padding: 10px; text-align: center; border: 1px solid #1c1c1c; border-radius: 10px;">
  <br><br>
  <form action="/loggingin", method="POST">
       <div class="button-container">
      <button class="button" type="submit" value="Login" name="Login">
        <span style="color: #FFFFFF;">Login</span>
      </button>
    </div>
    </form>

  <form action="/signup", method="POST">
       <div class="button-container">
      <button class="button" type="submit" value="Signup" name="Signup">
        <span style="color: #FFFFFF;">Sign up</span>
      </button>
    </div>
    </form>
    </center>



{% endblock %}